.singleTodoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18rem;
  height: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: lightslategrey;
}

.todoMessage {
}

.deleteButton {
  background-color: red;
  border: 0;
  width: 3.7rem;
  border-radius: 2px;
}

.done {
  text-decoration: line-through;
}
